.navigation ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    li {
        text-decoration: none;
        margin: 0 10px;
    }
}


.icon {
    max-width: 24px;
}


.navContainer {
    width: 100%;
    justify-content: space-between;
}
.navContainerUser {
    width: 100%;
    justify-content: space-between;
    background-color: #ffffff;
}

.userContainer {
    align-items: center;
}

.userContainer {
    background-color: #ffffff;
    padding: 10px;
    margin-left: auto;
  }

  .darkText {
   
    color: #000;
    transition: color 0.3s ease;
  }
  
  .darkText:hover {
   
    color: #333;
    background-color: #f0f0f0;
    
    border-radius: 5px;
  }